<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVm-8vLkpBCN2G30J_WFzjm34tuTWcDTc</string>
	<key>GCM_SENDER_ID</key>
	<string>1001714026042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatWave</string>
	<key>PROJECT_ID</key>
	<string>chatwave-79b68</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwave-79b68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001714026042:ios:88abd9090ca90214e0d703</string>
</dict>
</plist>